In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel("banknifty_results_pairs_time_tracking_lower-100.xlsx")
data.head()

,Date,Index Price,Day,Expiry,Strike Price,Option Type,Action,Ticker,Stoploss,Entry Time,...,14:45:00,14:50:00,14:55:00,15:00:00,15:05:00,15:10:00,15:15:00,15:20:00,15:25:00,15:30:00
0,2021-06-30,34955.65,Wednesday,01JUL21,34800,CE,SELL,BANKNIFTY01JUL2134800CE.NFO,403.52,09:30:00,...,185.15,176.85,164.30,168.20,151.85,135.00,126.10,146.20,140.95,139.2
1,2021-06-30,34955.65,Wednesday,01JUL21,34800,PE,SELL,BANKNIFTY01JUL2134800PE.NFO,147.42,09:30:00,...,106.85,114.85,121.75,115.35,127.55,157.95,148.50,133.75,142.95,143.0
2,2021-06-29,35185.50,Tuesday,01JUL21,35000,CE,SELL,BANKNIFTY01JUL2135000CE.NFO,517.79,09:30:00,...,212.25,224.00,217.75,234.70,229.15,230.35,234.00,259.00,245.00,245.0
3,2021-06-29,35185.50,Tuesday,01JUL21,35000,PE,SELL,BANKNIFTY01JUL2135000PE.NFO,202.41,09:30:00,...,223.90,211.55,215.50,198.45,202.95,197.40,189.00,169.45,169.00,172.0
4,2021-06-28,35497.85,Monday,01JUL21,35300,CE,SELL,BANKNIFTY01JUL2135300CE.NFO,584.74,09:30:00,...,334.85,335.50,349.50,336.30,331.35,338.55,332.85,362.55,350.00,345.0

In [3]:
data1 = pd.read_csv("BankNifty_15_Final.csv",parse_dates = True)
data1.head()

           Datetime      Open      High       Low    Close
0  01-01-2018 09:15  25565.75  25587.80  25498.30  25551.7
1  01-01-2018 09:30  25552.75  25573.95  25538.85  25551.5
2  01-01-2018 09:45  25551.70  25555.30  25537.15  25546.9
3  01-01-2018 10:00  25546.90  25574.25  25537.90  25561.5
4  01-01-2018 10:15  25561.50  25573.25  25556.20  25561.2

In [4]:
data1['Datetime'] = pd.to_datetime(data1['Datetime'],format = "%d-%m-%Y %H:%M")
data1

                 Datetime      Open      High       Low     Close
0     2018-01-01 09:15:00  25565.75  25587.80  25498.30  25551.70
1     2018-01-01 09:30:00  25552.75  25573.95  25538.85  25551.50
2     2018-01-01 09:45:00  25551.70  25555.30  25537.15  25546.90
3     2018-01-01 10:00:00  25546.90  25574.25  25537.90  25561.50
4     2018-01-01 10:15:00  25561.50  25573.25  25556.20  25561.20
...                   ...       ...       ...       ...       ...
21531 2021-06-30 14:15:00  34969.65  34998.40  34874.60  34877.85
21532 2021-06-30 14:30:00  34876.90  34895.20  34801.35  34814.70
21533 2021-06-30 14:45:00  34813.80  34873.95  34805.35  34814.45
21534 2021-06-30 15:00:00  34815.60  34833.60  34757.10  34760.05
21535 2021-06-30 15:15:00  34758.00  34784.90  34730.45  34780.55

[21536 rows x 5 columns]

In [5]:
data2 = data1.sort_values(by = 'Datetime',ascending = False)
data2.tail(10)

             Datetime      Open      High       Low     Close
9 2018-01-01 11:30:00  25556.05  25565.55  25547.85  25551.80
8 2018-01-01 11:15:00  25552.65  25566.30  25552.45  25555.85
7 2018-01-01 11:00:00  25555.55  25561.35  25545.40  25552.65
6 2018-01-01 10:45:00  25556.30  25562.65  25545.05  25556.25
5 2018-01-01 10:30:00  25562.40  25570.05  25541.40  25554.05
4 2018-01-01 10:15:00  25561.50  25573.25  25556.20  25561.20
3 2018-01-01 10:00:00  25546.90  25574.25  25537.90  25561.50
2 2018-01-01 09:45:00  25551.70  25555.30  25537.15  25546.90
1 2018-01-01 09:30:00  25552.75  25573.95  25538.85  25551.50
0 2018-01-01 09:15:00  25565.75  25587.80  25498.30  25551.70

In [6]:
data2["Time"]= data2['Datetime'].dt.time

In [7]:
data2["Date"] = data2['Datetime'].dt.date

In [8]:
filtered_data = data2[data2['Time'] == pd.to_datetime('09:15:00').time()]

In [9]:
filtered_data.tail()

,Datetime,Open,High,Low,Close,Time,Date
100,2018-01-05 09:15:00,25524.45,25564.15,25501.10,25560.50,09:15:00,2018-01-05
75,2018-01-04 09:15:00,25367.65,25371.10,25323.10,25350.80,09:15:00,2018-01-04
50,2018-01-03 09:15:00,25425.75,25453.60,25396.20,25411.45,09:15:00,2018-01-03
25,2018-01-02 09:15:00,25382.20,25424.40,25325.15,25371.05,09:15:00,2018-01-02
0,2018-01-01 09:15:00,25565.75,25587.80,25498.30,25551.70,09:15:00,2018-01-01

In [10]:
a = filtered_data[['Close','Date']]
a

          Close        Date
21511  34955.65  2021-06-30
21486  35185.50  2021-06-29
21461  35497.85  2021-06-28
21436  34999.10  2021-06-25
21411  34741.75  2021-06-24
...         ...         ...
100    25560.50  2018-01-05
75     25350.80  2018-01-04
50     25411.45  2018-01-03
25     25371.05  2018-01-02
0      25551.70  2018-01-01

[862 rows x 2 columns]

In [11]:
b = data[['Index Price','Date']]
b

      Index Price       Date
0        34955.65 2021-06-30
1        34955.65 2021-06-30
2        35185.50 2021-06-29
3        35185.50 2021-06-29
4        35497.85 2021-06-28
...           ...        ...
1717     25411.45 2018-01-03
1718     25371.05 2018-01-02
1719     25371.05 2018-01-02
1720     25551.70 2018-01-01
1721     25551.70 2018-01-01

[1722 rows x 2 columns]

In [12]:
c = b['Index Price'].isin(a['Close'])
c

0       True
1       True
2       True
3       True
4       True
        ...
1717    True
1718    True
1719    True
1720    True
1721    True
Name: Index Price, Length: 1722, dtype: bool

In [13]:
c.bool

<bound method NDFrame.bool of 0       True
1       True
2       True
3       True
4       True
        ...
1717    True
1718    True
1719    True
1720    True
1721    True
Name: Index Price, Length: 1722, dtype: bool>

In [14]:
np.count_nonzero(c.bool)

1

In [15]:
###To check strike price is correctly calculated
d = data['Index Price'].astype(int)

In [16]:
new = d.apply(lambda i : i%100)

In [17]:
f = (d-new)-100
f

0       34800
1       34800
2       35000
3       35000
4       35300
        ...
1717    25300
1718    25200
1719    25200
1720    25400
1721    25400
Name: Index Price, Length: 1722, dtype: int64

In [18]:
g = data['Strike Price']
g

0       34800
1       34800
2       35000
3       35000
4       35300
        ...
1717    25300
1718    25200
1719    25200
1720    25400
1721    25400
Name: Strike Price, Length: 1722, dtype: int64

In [19]:
h = np.where(f != g, f, 0)
h

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [20]:
np.count_nonzero(h)

0

In [21]:
###To check whether ticker name is similar to strike price
e = data["Ticker"]
e

0       BANKNIFTY01JUL2134800CE.NFO
1       BANKNIFTY01JUL2134800PE.NFO
2       BANKNIFTY01JUL2135000CE.NFO
3       BANKNIFTY01JUL2135000PE.NFO
4       BANKNIFTY01JUL2135300CE.NFO
                   ...
1717    BANKNIFTY04JAN1825300PE.NFO
1718    BANKNIFTY04JAN1825200CE.NFO
1719    BANKNIFTY04JAN1825200PE.NFO
1720    BANKNIFTY04JAN1825400CE.NFO
1721    BANKNIFTY04JAN1825400PE.NFO
Name: Ticker, Length: 1722, dtype: object

In [22]:
sl = (e.apply(lambda x : x[16:21])).astype(int)

In [23]:
sl

0       34800
1       34800
2       35000
3       35000
4       35300
        ...
1717    25300
1718    25200
1719    25200
1720    25400
1721    25400
Name: Ticker, Length: 1722, dtype: int32

In [24]:
g

0       34800
1       34800
2       35000
3       35000
4       35300
        ...
1717    25300
1718    25200
1719    25200
1720    25400
1721    25400
Name: Strike Price, Length: 1722, dtype: int64

In [25]:
j = np.where(sl!=g,sl,0)
j

array([0, 0, 0, ..., 0, 0, 0])

In [26]:
np.count_nonzero(h)

0

In [27]:
Unique_Dates = [str(pd.to_datetime(i).date()) for i in list(data['Date'].unique())]

In [52]:
%%time
import os
path = r"C:\Users\arushi.roy\Desktop\work1\BankNifty_MarketData\BankNifty_Data_Datewise"
error_dt = list()
prob_dt =list()
for dt in Unique_Dates:
    try:
        
        
        ThatDayDf = pd.read_csv(os.path.join(path,dt+'.csv'))
        ThatDayDf['DateTime'] = pd.to_datetime(ThatDayDf['DateTime']) 
        ThatDayDf['Time'] = ThatDayDf['DateTime'].dt.time

        Tmpdf = data[data['Date'] == pd.to_datetime(dt)].reset_index(drop=True)
        for i in range(len(Tmpdf)):
            ticker = Tmpdf['Ticker'][i]
            entry_time = Tmpdf['Entry Time'][i]
            exit_time = Tmpdf['Exit Time'][i]
            entry_point = Tmpdf['Entry Point'][i]
            exit_value = Tmpdf['Exit Value'][i]

            tocompare_entry_point  = ThatDayDf[(ThatDayDf['Ticker'] == ticker) & \
                                               (ThatDayDf['Time'] == pd.to_datetime(entry_time).time())]['Close'].values[0]
            tocompare_exit_value = ThatDayDf[(ThatDayDf['Ticker'] == ticker) & \
                                             (ThatDayDf['Time'] == pd.to_datetime(exit_time).time())]['Close'].values[0]
            res1=np.where(tocompare_entry_point ==entry_point,1,0)
            res2=np.where(tocompare_exit_value ==exit_value,1,0)
            if (res1 ==0 | res2 ==0):
                prob_dt.append(dt)
            print(dt)
    except Exception as e:
        print(dt,e)
        error_dt.append(dt)
        continue

2021-06-30
2021-06-30
2021-06-29
2021-06-29
2021-06-28
2021-06-28
2021-06-25
2021-06-25
2021-06-24
2021-06-24
2021-06-23
2021-06-23
2021-06-22
2021-06-22
2021-06-21
2021-06-21
2021-06-18
2021-06-18
2021-06-17
2021-06-17
2021-06-16
2021-06-16
2021-06-15
2021-06-15
2021-06-14
2021-06-14
2021-06-11
2021-06-11
2021-06-10
2021-06-10
2021-06-09
2021-06-09
2021-06-08
2021-06-08
2021-06-07
2021-06-07
2021-06-04
2021-06-04
2021-06-03
2021-06-03
2021-06-02
2021-06-02
2021-06-01
2021-06-01
2021-05-31
2021-05-31
2021-05-28
2021-05-28
2021-05-27
2021-05-27
2021-05-26
2021-05-26
2021-05-25
2021-05-25
2021-05-24
2021-05-24
2021-05-21
2021-05-21
2021-05-20
2021-05-20
2021-05-19
2021-05-19
2021-05-18
2021-05-18
2021-05-17
2021-05-17
2021-05-14
2021-05-14
2021-05-12 NaTType does not support time
2021-05-11
2021-05-11
2021-05-10
2021-05-10
2021-05-07
2021-05-07
2021-05-06
2021-05-06
2021-05-05
2021-05-05
2021-05-04
2021-05-04
2021-05-03
2021-05-03
2021-04-30
2021-04-30
2021-04-29
2021-04-29
2021-04-28
2021-04-28
2021-04-27
2021-04-27
2021-04-26
2021-04-26
2021-04-23
2021-04-23
2021-04-22
2021-04-22
2021-04-20
2021-04-20
2021-04-19
2021-04-19
2021-04-16
2021-04-16
2021-04-15
2021-04-15
2021-04-13
2021-04-13
2021-04-12
2021-04-12
2021-04-09
2021-04-09
2021-04-08
2021-04-08
2021-04-07
2021-04-07
2021-04-06
2021-04-06
2021-04-05
2021-04-05
2021-04-01
2021-04-01
2021-03-31
2021-03-31
2021-03-30
2021-03-30
2021-03-26
2021-03-26
2021-03-25
2021-03-25
2021-03-24
2021-03-24
2021-03-23
2021-03-23
2021-03-22
2021-03-22
2021-03-19
2021-03-19
2021-03-18
2021-03-18
2021-03-17
2021-03-17
2021-03-16
2021-03-16
2021-03-15
2021-03-15
2021-03-12
2021-03-12
2021-03-10 NaTType does not support time
2021-03-09
2021-03-09
2021-03-08
2021-03-08
2021-03-05
2021-03-05
2021-03-04
2021-03-04
2021-03-03
2021-03-03
2021-03-02
2021-03-02
2021-03-01
2021-03-01
2021-02-26
2021-02-26
2021-02-25
2021-02-25
2021-02-24
2021-02-24 index 0 is out of bounds for axis 0 with size 0
2021-02-23
2021-02-23
2021-02-22
2021-02-22
2021-02-19
2021-02-19
2021-02-18
2021-02-18
2021-02-17
2021-02-17
2021-02-16
2021-02-16
2021-02-15
2021-02-15
2021-02-12
2021-02-12
2021-02-11
2021-02-11
2021-02-10
2021-02-10
2021-02-09
2021-02-09
2021-02-08
2021-02-08
2021-02-05
2021-02-05
2021-02-04
2021-02-04
2021-02-03
2021-02-03
2021-02-02
2021-02-02
2021-02-01
2021-02-01
2021-01-29
2021-01-29
2021-01-28
2021-01-28
2021-01-27
2021-01-27
2021-01-25
2021-01-25
2021-01-22
2021-01-22
2021-01-21
2021-01-21
2021-01-20
2021-01-20
2021-01-19
2021-01-19
2021-01-18
2021-01-18
2021-01-15
2021-01-15
2021-01-14
2021-01-14
2021-01-13
2021-01-13
2021-01-12
2021-01-12
2021-01-11
2021-01-11
2021-01-08
2021-01-08
2021-01-07
2021-01-07
2021-01-06
2021-01-06
2021-01-05
2021-01-05
2021-01-04
2021-01-04
2021-01-01
2021-01-01
2020-12-31
2020-12-31
2020-12-30
2020-12-30
2020-12-29
2020-12-29
2020-12-28
2020-12-28
2020-12-24
2020-12-24
2020-12-23
2020-12-23
2020-12-22
2020-12-22
2020-12-21
2020-12-21
2020-12-18
2020-12-18
2020-12-17
2020-12-17
2020-12-16
2020-12-16
2020-12-15
2020-12-15
2020-12-14
2020-12-14
2020-12-11
2020-12-11
2020-12-10
2020-12-10
2020-12-09
2020-12-09
2020-12-08
2020-12-08
2020-12-07
2020-12-07
2020-12-04
2020-12-04
2020-12-03
2020-12-03
2020-12-02
2020-12-02
2020-12-01
2020-12-01
2020-11-27
2020-11-27
2020-11-26
2020-11-26
2020-11-25
2020-11-25
2020-11-24
2020-11-24
2020-11-23
2020-11-23
2020-11-20
2020-11-20
2020-11-19
2020-11-19
2020-11-18
2020-11-18
2020-11-17
2020-11-17
2020-11-13
2020-11-13
2020-11-12
2020-11-12
2020-11-11
2020-11-11
2020-11-10
2020-11-10
2020-11-09
2020-11-09
2020-11-06
2020-11-06
2020-11-05
2020-11-05
2020-11-04
2020-11-04
2020-11-03
2020-11-03
2020-11-02
2020-11-02
2020-10-30
2020-10-30
2020-10-29
2020-10-29
2020-10-28
2020-10-28
2020-10-27
2020-10-27
2020-10-26
2020-10-26
2020-10-23
2020-10-23
2020-10-22
2020-10-22
2020-10-21
2020-10-21
2020-10-20
2020-10-20
2020-10-19
2020-10-19
2020-10-16
2020-10-16
2020-10-15
2020-10-15
2020-10-14
2020-10-14
2020-10-13
2020-10-13
2020-10-12
2020-10-12
2020-10-09
2020-10-09
2020-10-08
2020-10-08
2020-10-07
2020-10-07
2020-10-06
2020-10-06
2020-10-05
2020-10-05
2020-10-01
2020-10-01
2020-09-30
2020-09-30
2020-09-29
2020-09-29
2020-09-28
2020-09-28
2020-09-25
2020-09-25
2020-09-24
2020-09-24
2020-09-23
2020-09-23
2020-09-22
2020-09-22
2020-09-21
2020-09-21
2020-09-18
2020-09-18
2020-09-17
2020-09-17
2020-09-16
2020-09-16
2020-09-15
2020-09-15
2020-09-14
2020-09-14
2020-09-11
2020-09-11
2020-09-10
2020-09-10
2020-09-09
2020-09-09
2020-09-08
2020-09-08
2020-09-07
2020-09-07
2020-09-04
2020-09-04
2020-09-03
2020-09-03
2020-09-02
2020-09-02
2020-09-01
2020-09-01
2020-08-31
2020-08-31
2020-08-28
2020-08-28
2020-08-27
2020-08-27
2020-08-26
2020-08-26
2020-08-25
2020-08-25
2020-08-24
2020-08-24
2020-08-21
2020-08-21
2020-08-20
2020-08-20
2020-08-19
2020-08-19
2020-08-18
2020-08-18
2020-08-17
2020-08-17
2020-08-14
2020-08-14
2020-08-13
2020-08-13
2020-08-12
2020-08-12
2020-08-11
2020-08-11
2020-08-10
2020-08-10
2020-08-07
2020-08-07
2020-08-06
2020-08-06
2020-08-05
2020-08-05
2020-08-04
2020-08-04
2020-08-03
2020-08-03
2020-07-31
2020-07-31
2020-07-30
2020-07-30
2020-07-29
2020-07-29
2020-07-28
2020-07-28
2020-07-27
2020-07-27
2020-07-24
2020-07-24
2020-07-23
2020-07-23
2020-07-22
2020-07-22
2020-07-21
2020-07-21
2020-07-20
2020-07-20
2020-07-17
2020-07-17
2020-07-16
2020-07-16
2020-07-15
2020-07-15
2020-07-14
2020-07-14
2020-07-13
2020-07-13
2020-07-10
2020-07-10
2020-07-09
2020-07-09
2020-07-08
2020-07-08
2020-07-07
2020-07-07
2020-07-06
2020-07-06
2020-07-03
2020-07-03
2020-07-02
2020-07-02
2020-07-01
2020-07-01
2020-06-30
2020-06-30
2020-06-29
2020-06-29
2020-06-26
2020-06-26
2020-06-25
2020-06-25
2020-06-24
2020-06-24
2020-06-23
2020-06-23
2020-06-22
2020-06-22
2020-06-19
2020-06-19
2020-06-18
2020-06-18
2020-06-17
2020-06-17
2020-06-16
2020-06-16
2020-06-15
2020-06-15
2020-06-12
2020-06-12
2020-06-11
2020-06-11
2020-06-10
2020-06-10
2020-06-09
2020-06-09
2020-06-08
2020-06-08
2020-06-05
2020-06-05
2020-06-04 index 0 is out of bounds for axis 0 with size 0
2020-06-03
2020-06-03
2020-06-02
2020-06-02
2020-06-01
2020-06-01
2020-05-29
2020-05-29
2020-05-28
2020-05-28
2020-05-27
2020-05-27
2020-05-26
2020-05-26
2020-05-22
2020-05-22
2020-05-21
2020-05-21
2020-05-20
2020-05-20
2020-05-19
2020-05-19
2020-05-18
2020-05-18
2020-05-15
2020-05-15
2020-05-14
2020-05-14
2020-05-13
2020-05-13
2020-05-12
2020-05-12
2020-05-11
2020-05-11
2020-05-08
2020-05-08
2020-05-07
2020-05-07
2020-05-06
2020-05-06
2020-05-05
2020-05-05
2020-05-04
2020-05-04
2020-04-30
2020-04-30
2020-04-29
2020-04-29
2020-04-28
2020-04-28
2020-04-27
2020-04-27
2020-04-24
2020-04-24
2020-04-23
2020-04-23
2020-04-22
2020-04-22
2020-04-21
2020-04-21
2020-04-20
2020-04-20
2020-04-17
2020-04-17
2020-04-16
2020-04-16
2020-04-15
2020-04-15
2020-04-13
2020-04-13
2020-04-09
2020-04-09
2020-04-08
2020-04-08
2020-04-07
2020-04-07
2020-04-03
2020-04-03
2020-04-01 NaTType does not support time
2020-03-31
2020-03-31
2020-03-30
2020-03-30
2020-03-27
2020-03-27
2020-03-26
2020-03-26
2020-03-25
2020-03-25
2020-03-24
2020-03-24
2020-03-23
2020-03-23
2020-03-20
2020-03-20
2020-03-19
2020-03-19
2020-03-18
2020-03-18
2020-03-17
2020-03-17
2020-03-16
2020-03-16
2020-03-13 NaTType does not support time
2020-03-12
2020-03-12
2020-03-11
2020-03-11
2020-03-09
2020-03-09
2020-03-06
2020-03-06
2020-03-05
2020-03-05
2020-03-04
2020-03-04
2020-03-03
2020-03-03
2020-03-02
2020-03-02
2020-02-28
2020-02-28
2020-02-27
2020-02-27
2020-02-26
2020-02-26
2020-02-25
2020-02-25
2020-02-24
2020-02-24
2020-02-20
2020-02-20
2020-02-19
2020-02-19
2020-02-18
2020-02-18
2020-02-17
2020-02-17
2020-02-14
2020-02-14
2020-02-13
2020-02-13
2020-02-12
2020-02-12
2020-02-11
2020-02-11
2020-02-10
2020-02-10
2020-02-07
2020-02-07
2020-02-06
2020-02-06
2020-02-05
2020-02-05
2020-02-04
2020-02-04
2020-02-03
2020-02-03
2020-01-31
2020-01-31
2020-01-30
2020-01-30
2020-01-29
2020-01-29
2020-01-28
2020-01-28
2020-01-27
2020-01-27
2020-01-24
2020-01-24
2020-01-23
2020-01-23
2020-01-22
2020-01-22
2020-01-21
2020-01-21
2020-01-20
2020-01-20
2020-01-17
2020-01-17
2020-01-16
2020-01-16
2020-01-15
2020-01-15
2020-01-14
2020-01-14
2020-01-13
2020-01-13
2020-01-10
2020-01-10
2020-01-09
2020-01-09
2020-01-08
2020-01-08
2020-01-07
2020-01-07
2020-01-06
2020-01-06
2020-01-03
2020-01-03
2020-01-02
2020-01-02
2020-01-01
2020-01-01
2019-12-31
2019-12-31
2019-12-30
2019-12-30
2019-12-27
2019-12-27
2019-12-26
2019-12-26
2019-12-24
2019-12-24
2019-12-23
2019-12-23
2019-12-20
2019-12-20
2019-12-19
2019-12-19
2019-12-18
2019-12-18
2019-12-17
2019-12-17
2019-12-16
2019-12-16
2019-12-13
2019-12-13
2019-12-12
2019-12-12
2019-12-11
2019-12-11
2019-12-10
2019-12-10
2019-12-09
2019-12-09
2019-12-06
2019-12-06
2019-12-05
2019-12-05
2019-12-04
2019-12-04
2019-12-03
2019-12-03
2019-12-02
2019-12-02
2019-11-29
2019-11-29
2019-11-28
2019-11-28
2019-11-27
2019-11-27
2019-11-26
2019-11-26
2019-11-25
2019-11-25
2019-11-22
2019-11-22
2019-11-21
2019-11-21
2019-11-20
2019-11-20
2019-11-19
2019-11-19
2019-11-18
2019-11-18
2019-11-15
2019-11-15
2019-11-14
2019-11-14
2019-11-13
2019-11-13
2019-11-11
2019-11-11
2019-11-08
2019-11-08
2019-11-07
2019-11-07
2019-11-06
2019-11-06
2019-11-05
2019-11-05
2019-11-04
2019-11-04
2019-11-01
2019-11-01
2019-10-31
2019-10-31
2019-10-30
2019-10-30
2019-10-29
2019-10-29
2019-10-25
2019-10-25
2019-10-24
2019-10-24
2019-10-23
2019-10-23
2019-10-22
2019-10-22
2019-10-18
2019-10-18
2019-10-17
2019-10-17
2019-10-16
2019-10-16
2019-10-15
2019-10-15
2019-10-14
2019-10-14
2019-10-11
2019-10-11
2019-10-10
2019-10-10
2019-10-09
2019-10-09
2019-10-07
2019-10-07
2019-10-04
2019-10-04
2019-10-03
2019-10-03
2019-10-01
2019-10-01
2019-09-30
2019-09-30
2019-09-27
2019-09-27
2019-09-26
2019-09-26
2019-09-25
2019-09-25
2019-09-24
2019-09-24
2019-09-23
2019-09-23
2019-09-20
2019-09-20
2019-09-19
2019-09-19
2019-09-18
2019-09-18
2019-09-17
2019-09-17
2019-09-16
2019-09-16
2019-09-13
2019-09-13
2019-09-12
2019-09-12
2019-09-11
2019-09-11
2019-09-09
2019-09-09
2019-09-06
2019-09-06
2019-09-05
2019-09-05
2019-09-04
2019-09-04
2019-09-03
2019-09-03
2019-08-30
2019-08-30
2019-08-29
2019-08-29
2019-08-28
2019-08-28
2019-08-27
2019-08-27
2019-08-26
2019-08-26
2019-08-23
2019-08-23
2019-08-22
2019-08-22
2019-08-21
2019-08-21
2019-08-20
2019-08-20
2019-08-19
2019-08-19
2019-08-16
2019-08-16
2019-08-14 NaTType does not support time
2019-08-13
2019-08-13
2019-08-09
2019-08-09
2019-08-08
2019-08-08
2019-08-07
2019-08-07
2019-08-06
2019-08-06
2019-08-05
2019-08-05
2019-08-02
2019-08-02
2019-08-01
2019-08-01
2019-07-31
2019-07-31
2019-07-30
2019-07-30
2019-07-29
2019-07-29
2019-07-26
2019-07-26
2019-07-25
2019-07-25
2019-07-24
2019-07-24
2019-07-23
2019-07-23
2019-07-22
2019-07-22
2019-07-19
2019-07-19
2019-07-18
2019-07-18
2019-07-17
2019-07-17
2019-07-16
2019-07-16
2019-07-15
2019-07-15
2019-07-12
2019-07-12
2019-07-11
2019-07-11
2019-07-10
2019-07-10
2019-07-09
2019-07-09
2019-07-08
2019-07-08
2019-07-05
2019-07-05
2019-07-04
2019-07-04
2019-07-03
2019-07-03
2019-07-02
2019-07-02
2019-07-01
2019-07-01
2019-06-28
2019-06-28
2019-06-27
2019-06-27
2019-06-26
2019-06-26
2019-06-25
2019-06-25
2019-06-24
2019-06-24
2019-06-21
2019-06-21
2019-06-20
2019-06-20
2019-06-19
2019-06-19
2019-06-18
2019-06-18
2019-06-17
2019-06-17
2019-06-14
2019-06-14
2019-06-13
2019-06-13
2019-06-12
2019-06-12
2019-06-11
2019-06-11
2019-06-10
2019-06-10
2019-06-07
2019-06-07
2019-06-06
2019-06-06
2019-06-04
2019-06-04
2019-06-03
2019-06-03
2019-05-31
2019-05-31
2019-05-30
2019-05-30
2019-05-29
2019-05-29
2019-05-28
2019-05-28
2019-05-27
2019-05-27
2019-05-24
2019-05-24
2019-05-23
2019-05-23
2019-05-22
2019-05-22
2019-05-21
2019-05-21
2019-05-20
2019-05-20
2019-05-17
2019-05-17
2019-05-16
2019-05-16
2019-05-15
2019-05-15
2019-05-14
2019-05-14
2019-05-13
2019-05-13
2019-05-10
2019-05-10
2019-05-09
2019-05-09
2019-05-08
2019-05-08
2019-05-07
2019-05-07
2019-05-06
2019-05-06
2019-05-03
2019-05-03
2019-05-02
2019-05-02
2019-04-30
2019-04-30
2019-04-26
2019-04-26
2019-04-25
2019-04-25
2019-04-24
2019-04-24
2019-04-23
2019-04-23
2019-04-22
2019-04-22
2019-04-18
2019-04-18
2019-04-16
2019-04-16
2019-04-15
2019-04-15
2019-04-12
2019-04-12
2019-04-11
2019-04-11
2019-04-10
2019-04-10
2019-04-09
2019-04-09
2019-04-08
2019-04-08
2019-04-05
2019-04-05
2019-04-04
2019-04-04
2019-04-03
2019-04-03
2019-04-02
2019-04-02
2019-04-01
2019-04-01
2019-03-29
2019-03-29
2019-03-28
2019-03-28
2019-03-27
2019-03-27
2019-03-26
2019-03-26
2019-03-25
2019-03-25
2019-03-22
2019-03-22
2019-03-20 NaTType does not support time
2019-03-19
2019-03-19
2019-03-18
2019-03-18
2019-03-15
2019-03-15
2019-03-14
2019-03-14
2019-03-13
2019-03-13
2019-03-12
2019-03-12
2019-03-11
2019-03-11
2019-03-08
2019-03-08
2019-03-07
2019-03-07
2019-03-06
2019-03-06
2019-03-05
2019-03-05
2019-03-01
2019-03-01
2019-02-28
2019-02-28
2019-02-27
2019-02-27
2019-02-26
2019-02-26
2019-02-25
2019-02-25
2019-02-22
2019-02-22
2019-02-21
2019-02-21
2019-02-20
2019-02-20
2019-02-19
2019-02-19
2019-02-18
2019-02-18
2019-02-15
2019-02-15
2019-02-14
2019-02-14
2019-02-13
2019-02-13
2019-02-12
2019-02-12
2019-02-11
2019-02-11
2019-02-08
2019-02-08
2019-02-07
2019-02-07
2019-02-06
2019-02-06
2019-02-05
2019-02-05
2019-02-04
2019-02-04
2019-02-01
2019-02-01
2019-01-31
2019-01-31
2019-01-30
2019-01-30
2019-01-29
2019-01-29
2019-01-28
2019-01-28
2019-01-25
2019-01-25
2019-01-24
2019-01-24
2019-01-23
2019-01-23
2019-01-22
2019-01-22
2019-01-21
2019-01-21
2019-01-18
2019-01-18
2019-01-17
2019-01-17
2019-01-16
2019-01-16
2019-01-15
2019-01-15
2019-01-14
2019-01-14
2019-01-11
2019-01-11
2019-01-10
2019-01-10
2019-01-09
2019-01-09
2019-01-08
2019-01-08
2019-01-07
2019-01-07
2019-01-04
2019-01-04
2019-01-03
2019-01-03
2019-01-02
2019-01-02
2019-01-01
2019-01-01
2018-12-31
2018-12-31
2018-12-28
2018-12-28
2018-12-27
2018-12-27
2018-12-26
2018-12-26
2018-12-24
2018-12-24
2018-12-21
2018-12-21
2018-12-20
2018-12-20
2018-12-19
2018-12-19
2018-12-18
2018-12-18
2018-12-17
2018-12-17
2018-12-14
2018-12-14
2018-12-13
2018-12-13
2018-12-12
2018-12-12
2018-12-11
2018-12-11
2018-12-10
2018-12-10
2018-12-07
2018-12-07
2018-12-06
2018-12-06
2018-12-05
2018-12-05
2018-12-04
2018-12-04
2018-12-03
2018-12-03
2018-11-30
2018-11-30
2018-11-29
2018-11-29
2018-11-28
2018-11-28
2018-11-27
2018-11-27
2018-11-26
2018-11-26
2018-11-22
2018-11-22
2018-11-21
2018-11-21
2018-11-20
2018-11-20
2018-11-19
2018-11-19
2018-11-16
2018-11-16
2018-11-15
2018-11-15
2018-11-14
2018-11-14
2018-11-13
2018-11-13
2018-11-12
2018-11-12
2018-11-09
2018-11-09
2018-11-06 NaTType does not support time
2018-11-05 NaTType does not support time
2018-11-02 NaTType does not support time
2018-11-01
2018-11-01
2018-10-31
2018-10-31
2018-10-30
2018-10-30
2018-10-29
2018-10-29
2018-10-26
2018-10-26
2018-10-25
2018-10-25
2018-10-24
2018-10-24
2018-10-23
2018-10-23
2018-10-22
2018-10-22
2018-10-19
2018-10-19
2018-10-17 NaTType does not support time
2018-10-16
2018-10-16
2018-10-15
2018-10-15
2018-10-12
2018-10-12
2018-10-11
2018-10-11
2018-10-10
2018-10-10
2018-10-09
2018-10-09
2018-10-08
2018-10-08
2018-10-05
2018-10-05
2018-10-04
2018-10-04
2018-10-03
2018-10-03
2018-10-01
2018-10-01
2018-09-28
2018-09-28
2018-09-27
2018-09-27
2018-09-26
2018-09-26
2018-09-25
2018-09-25
2018-09-24
2018-09-24
2018-09-21
2018-09-21
2018-09-19 NaTType does not support time
2018-09-18
2018-09-18
2018-09-17
2018-09-17
2018-09-14
2018-09-14
2018-09-12
2018-09-12
2018-09-11
2018-09-11
2018-09-10
2018-09-10
2018-09-07
2018-09-07
2018-09-06
2018-09-06
2018-09-05
2018-09-05
2018-09-04
2018-09-04
2018-09-03
2018-09-03
2018-08-31
2018-08-31
2018-08-30
2018-08-30
2018-08-29
2018-08-29
2018-08-28
2018-08-28
2018-08-27
2018-08-27
2018-08-24
2018-08-24
2018-08-23
2018-08-23
2018-08-21
2018-08-21
2018-08-20
2018-08-20
2018-08-17
2018-08-17
2018-08-16
2018-08-16
2018-08-14
2018-08-14
2018-08-13
2018-08-13
2018-08-10
2018-08-10
2018-08-09
2018-08-09
2018-08-08
2018-08-08
2018-08-07
2018-08-07
2018-08-06
2018-08-06
2018-08-03
2018-08-03
2018-08-02
2018-08-02
2018-08-01
2018-08-01
2018-07-31
2018-07-31
2018-07-30
2018-07-30
2018-07-27
2018-07-27
2018-07-26
2018-07-26
2018-07-25
2018-07-25
2018-07-24
2018-07-24
2018-07-23
2018-07-23
2018-07-20
2018-07-20
2018-07-19
2018-07-19
2018-07-18
2018-07-18
2018-07-17
2018-07-17
2018-07-16
2018-07-16
2018-07-13
2018-07-13
2018-07-12
2018-07-12
2018-07-11
2018-07-11
2018-07-10
2018-07-10
2018-07-09
2018-07-09
2018-07-06
2018-07-06
2018-07-05
2018-07-05
2018-07-04
2018-07-04
2018-07-03
2018-07-03
2018-07-02
2018-07-02
2018-06-29
2018-06-29
2018-06-28
2018-06-28
2018-06-27
2018-06-27
2018-06-26
2018-06-26
2018-06-25
2018-06-25
2018-06-22
2018-06-22
2018-06-21
2018-06-21
2018-06-20
2018-06-20
2018-06-19
2018-06-19
2018-06-18
2018-06-18
2018-06-15
2018-06-15
2018-06-14
2018-06-14
2018-06-13
2018-06-13
2018-06-12
2018-06-12
2018-06-11
2018-06-11
2018-06-08
2018-06-08
2018-06-07
2018-06-07
2018-06-06
2018-06-06
2018-06-05
2018-06-05
2018-06-04
2018-06-04
2018-06-01
2018-06-01
2018-05-31
2018-05-31
2018-05-30
2018-05-30
2018-05-29
2018-05-29
2018-05-28
2018-05-28
2018-05-25
2018-05-25
2018-05-24
2018-05-24
2018-05-23
2018-05-23
2018-05-22
2018-05-22
2018-05-21
2018-05-21
2018-05-18
2018-05-18
2018-05-17
2018-05-17
2018-05-16
2018-05-16
2018-05-15
2018-05-15
2018-05-14
2018-05-14
2018-05-11
2018-05-11
2018-05-10
2018-05-10
2018-05-09
2018-05-09
2018-05-08
2018-05-08
2018-05-07
2018-05-07
2018-05-04
2018-05-04
2018-05-03
2018-05-03
2018-05-02
2018-05-02
2018-04-30
2018-04-30
2018-04-27
2018-04-27
2018-04-26
2018-04-26
2018-04-25
2018-04-25
2018-04-24
2018-04-24
2018-04-23
2018-04-23
2018-04-20
2018-04-20
2018-04-19
2018-04-19
2018-04-18
2018-04-18
2018-04-17
2018-04-17
2018-04-16
2018-04-16
2018-04-13
2018-04-13
2018-04-12
2018-04-12
2018-04-11
2018-04-11
2018-04-10
2018-04-10
2018-04-09
2018-04-09
2018-04-06
2018-04-06
2018-04-05
2018-04-05
2018-04-04
2018-04-04
2018-04-03
2018-04-03
2018-04-02
2018-04-02
2018-03-28 NaTType does not support time
2018-03-27
2018-03-27
2018-03-26
2018-03-26
2018-03-23
2018-03-23
2018-03-22
2018-03-22
2018-03-21
2018-03-21
2018-03-20
2018-03-20
2018-03-19
2018-03-19
2018-03-16
2018-03-16
2018-03-15
2018-03-15
2018-03-14
2018-03-14
2018-03-13
2018-03-13
2018-03-12
2018-03-12
2018-03-09
2018-03-09
2018-03-08
2018-03-08
2018-03-07
2018-03-07
2018-03-06
2018-03-06
2018-03-05
2018-03-05
2018-03-01
2018-03-01
2018-02-28
2018-02-28
2018-02-27
2018-02-27
2018-02-26
2018-02-26
2018-02-23
2018-02-23
2018-02-22
2018-02-22
2018-02-21
2018-02-21
2018-02-20
2018-02-20
2018-02-19
2018-02-19
2018-02-16
2018-02-16
2018-02-15
2018-02-15
2018-02-14
2018-02-14
2018-02-12
2018-02-12
2018-02-09
2018-02-09
2018-02-08
2018-02-08
2018-02-07
2018-02-07
2018-02-06
2018-02-06
2018-02-05 index 0 is out of bounds for axis 0 with size 0
2018-02-02
2018-02-02
2018-02-01
2018-02-01
2018-01-31
2018-01-31
2018-01-30 index 0 is out of bounds for axis 0 with size 0
2018-01-29
2018-01-29
2018-01-25
2018-01-25
2018-01-24
2018-01-24
2018-01-23
2018-01-23
2018-01-22
2018-01-22
2018-01-19
2018-01-19
2018-01-18
2018-01-18
2018-01-17
2018-01-17
2018-01-16
2018-01-16
2018-01-15
2018-01-15
2018-01-12
2018-01-12
2018-01-11
2018-01-11
2018-01-10
2018-01-10
2018-01-09
2018-01-09
2018-01-08
2018-01-08
2018-01-05
2018-01-05
2018-01-04
2018-01-04
2018-01-03
2018-01-03
2018-01-02
2018-01-02
2018-01-01
2018-01-01
Wall time: 2min 22s

In [33]:
Tmpdf.count_nonzero

Empty DataFrame
Columns: [Date, Index Price, Day, Expiry, Strike Price, Option Type, Action, Ticker, Stoploss, Entry Time, Entry Point, Exit Time, Exit Value, Gain Loss, Reason, 09:30:00, 09:35:00, 09:40:00, 09:45:00, 09:50:00, 09:55:00, 10:00:00, 10:05:00, 10:10:00, 10:15:00, 10:20:00, 10:25:00, 10:30:00, 10:35:00, 10:40:00, 10:45:00, 10:50:00, 10:55:00, 11:00:00, 11:05:00, 11:10:00, 11:15:00, 11:20:00, 11:25:00, 11:30:00, 11:35:00, 11:40:00, 11:45:00, 11:50:00, 11:55:00, 12:00:00, 12:05:00, 12:10:00, 12:15:00, 12:20:00, 12:25:00, 12:30:00, 12:35:00, 12:40:00, 12:45:00, 12:50:00, 12:55:00, 13:00:00, 13:05:00, 13:10:00, 13:15:00, 13:20:00, 13:25:00, 13:30:00, 13:35:00, 13:40:00, 13:45:00, 13:50:00, 13:55:00, 14:00:00, 14:05:00, 14:10:00, 14:15:00, 14:20:00, 14:25:00, 14:30:00, 14:35:00, 14:40:00, 14:45:00, 14:50:00, 14:55:00, 15:00:00, 15:05:00, 15:10:00, 15:15:00, 15:20:00, 15:25:00, 15:30:00]
Index: []

[0 rows x 88 columns]

In [35]:
print(tocompare_exit_value)
print(exit_value)

91.5
91.5

In [36]:
np.
res1

array(1)

array(1)

In [ ]:
ThatDayDf[ThatDayDf['Time'] == pd.to_datetime(entry_time).time()]

In [ ]:
ThatDayDf.head()